/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;
@use "../common/mixins" as *;

.AwardsHeroHeader {

	.heroBanner__image &,
	.heroHeadline--bg &,
	.Trial & {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		z-index: 1;
		width: 20%;
		top: 0;
		padding-left: 1em;
		right: 1em;

		@media (min-width: $breakpoint-desktop-big) {
			right: 0;
		}

		&::after {

			@include posCustom(-1em);
			top: 0;
			position: absolute;
			content: "";
			background: url(../../images/heroHeadline_award_badges_bg.png) center bottom no-repeat;
			background-size: contain;

			@media (min-width: 1921px) {

				@include posZero;
				right: 0;
				border-top-right-radius: 5em;
			}
		}

		&__text {
			position: relative;
			z-index: 1;
			margin-top: 1.5em;
		}

		.AwardsSmall {
			position: relative;
			z-index: 1;
			margin: 0 0 1em 0;

			&__list {
				display: block;

				li[class] {
					width: 100%;
					padding: 0;
					margin-left: 0;

					a[href] {
						position: static;
					}
				}
			}
		}
	}

	.heroBanner__image & {

		display: none;
		right: 0;


		@media (min-width: $breakpoint-tablet-landscape) {
			display: block;
			bottom: 0;
			top: unset;
			padding: 0;

			&::after {

				@include posCustom(0,0,-1em,0);
				background: url(../../images/hero-banner-award-badges-bg.png) center bottom no-repeat;
				border-radius: 0;

			}

			.AwardsHeroHeader__text {
				padding-inline: 1em;
			}

		}

	}

	.Trial & {
		display: none;

		@media (min-width: $breakpoint-desktop-big) {
			z-index: 10;
			width: 120px;
			right: 2em;
			display: block;
		}

		&::after {

			@media (min-width: 1921px) {

				border-top-right-radius: 0;
			}
		}

		&__text {
			margin: 1.5em auto 0 auto;
		}
	}

}
