/* stylelint-disable selector-class-pattern */
/* stylelint-disable scss/at-extend-no-missing-placeholder */

.Block--quote {

	@extend .Box;
	@extend .Box--gray;
	margin-bottom: 2em;

	.wrapper {
		margin-bottom: 3em;
		padding: 3.75em 20%;

		@media (min-width: $breakpoint-desktop-big) {
			padding: 3.75em 25em !important;
		}

		&::before {

			@include square(3em);
			content: "";
			background: url(../images/quote.svg) center center no-repeat;
			background-size: contain;
			margin: 0 auto 1em;
		}

		&::after {

			position: absolute;
			z-index: 0;
			content: "";
			background: url(../images/quote_bg.svg) center center no-repeat;
			background-size: contain;
			width: calc(100% + 1em);
			height: 0;
			padding-bottom: 30%;
			bottom: -4.5em;
			right: 0;
		}
	}

	.elementor-widget {
		margin-bottom: 1em;
		text-align: center;
	}

	p {

		@include color(color, font-color-dark);
		font-family: $font-secondary;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.elementor-column-wrap {
		display: block;
	}
}
