/* stylelint-disable selector-class-pattern, no-descending-specificity */

.BlockPricingNew {

	@include boxBackground();
	border-radius: $border-radius-16;
	overflow: hidden;

	&.wrapper__wide {
		padding: 4em 1.5em;

		@media (min-width: $breakpoint-desktop-box) {
			padding: 4em 0;
		}
	}

	> .elementor-container > .elementor-row {
		align-items: center;
	}

	@media (max-width: $breakpoint-tablet-landscape - 1px) {

		&__content,
		&__pricing {
			width: 100% !important;
		}
	}

	&__content {
		z-index: 1;

		@media (min-width: $breakpoint-tablet-landscape) {
			padding-right: 4.5em;
		}
	}

	&__pricing {
		z-index: 1;

		@media (min-width: $breakpoint-tablet-landscape) {

			section {

				> .elementor-container {
					height: 100%;
				}

				&:first-of-type {

					.elementor-row {

						&::before {
							content: "";
							position: absolute;
							background-color: $light-gray;
							width: 1px;
							height: calc(100% - 2.5em);
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}

				.elementor-row {
					padding-top: 2.5em;
				}
			}
		}


		.box.elementor-column[class*="box"] {
			padding: 2em !important;

			p:last-child {
				margin-bottom: 0;
			}

			.elementor-widget-wrap {
				display: flex;
				flex-direction: column;
			}

			.Button {
				width: 100%;
			}

			.elementor-widget-heading {
				margin-bottom: 0.75em;

				.elementor-heading-title {
					margin-bottom: 0;
					font-size: 1.5rem;
				}
			}

			.elementor-widget-text-editor:not(.BlockPricingNew__pricing--price) {

				p {

					@include color(color, font-color-normal);
					font-size: 0.875rem;
					line-height: 1.714;
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {

				&:first-of-type {
					margin-top: 3.1em;
				}
			}
		}

		&--program[class] {
			align-content: stretch;
		}


		&--price {
			margin-top: 1em;
		}

		&--program[class],
		&--network[class] {

			@include color(background-color, main-background);
			border-radius: $border-radius-16;
			box-shadow: 0 10px 15px rgba(145, 145, 145, 0.28), inset 0 -25px 25px -19px rgba(157, 157, 157, 0.12);
			overflow: hidden;
		}

		&--header[class] {
			border-bottom: 1px solid $light-gray;
			padding: 0.5em;
			// background-color: $white;
			border-radius: $border-radius-16 $border-radius-16 0 0;

			.elementor-image-box-wrapper[class] {
				align-items: center;
				justify-content: center;

				.elementor-image-box-img[class] {
					margin-right: 0.5em;

					img {

						@include square(1.5em);
					}
				}

				.elementor-image-box-content {
					width: auto;

					h3 {
						font-size: 1rem;
						font-weight: 600;
						margin-bottom: 0;
					}
				}
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			> .elementor-column-wrap > .elementor-widget-wrap {
				flex-wrap: nowrap;
			}

			&--header[class] {
				position: absolute;
				z-index: 3;

				&.wide.program {
					width: 85%;
					margin-left: 15%;
				}
			}

			&--program[class] {
				width: 66%;

				&.wide {
					width: 100%;
					margin-left: 15%;
				}
			}

			&--network[class] {
				width: 33%;
				margin-left: 2em;
			}

			&--header[class] {
				width: calc(66.6666% - 1em);

				&:not(.wide) {
					width: calc(33.3333% - 0.5em);
					right: 0;
				}
			}
		}
	}
}
