/* stylelint-disable selector-class-pattern, no-descending-specificity */
/* stylelint-disable scss/at-extend-no-missing-placeholder */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "Box";

.Boxes {

	@media (max-width: $breakpoint-tablet) {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	.wrapper {
		padding-top: 0 !important;
		padding-bottom: 0 !important;

		&.elementor-top-column {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&--shadow {

		.wrapper .elementor-column {

			.elementor-widget-wrap {

				@include color(box-shadow, box-shadow);
				@include color(background-color, main-background);
			}

			.elementor-image {

				a {
					border-radius: $border-radius;
					overflow: hidden;
					max-height: 15em;
				}
			}

			.elementor-widget-heading {
				padding: 30px 40px 0 !important;
			}

			.elementor-widget-text-editor {
				padding: 0 40px 30px !important;
			}
		}
	}

	&.has-four:not(.Boxes--stars):not(.Boxes--image):not(.Boxes--home) {

		@media (min-width: $breakpoint-tablet-small) and (max-width: $breakpoint-tablet-landscape) {

			.elementor-row {
				flex-wrap: wrap;
				justify-content: space-between;
			}

			.elementor-column {
				margin: 1em 0;
				width: calc(50% - 1em);

				+ .elementor-column {
					margin-left: 0;
				}
			}
		}
	}

	&--primary {

		&.elementor-inner-section .elementor-row {
			align-items: stretch;
		}

		.elementor-column {

			@extend .Box--primary;

			@media (min-width: $breakpoint-desktop) {
				margin: 0;

				+ .elementor-column {
					margin-left: 1.5em;
				}
			}
		}
	}

	&--dotted {

		> .elementor-container {
			max-width: $wrapper-width !important;
		}

		.elementor-column:not(.pillar) {

			box-shadow: none;
			overflow: visible;

			&:hover {
				background-color: $white !important;
				color: $black !important;
				box-shadow: 0 20px 90px 10px rgba(55, 55, 55, 0.08);
				z-index: 1;

				.elementor-widget-heading {

					&::before {
						box-shadow: 0 0 0.5em 0.15em rgba($primary, 0.6);
					}

					&::after {
						opacity: 0;
					}
				}
			}

			.elementor-widget-image:first-of-type {

				@include square(5em, !important);
				background-color: transparent;
				border-radius: none !important;
				padding: 0;
			}

			.elementor-widget-heading {
				margin-bottom: 1em;
				position: relative;

				@media (min-width: $breakpoint-tablet-landscape) {

					&::before,
					&::after {
						display: block;
						content: "";
						transition: all 0.2s;
					}

					&::before {

						@include circle(0.875em);
						@include color(background-color, primary-color);
						position: relative;
						margin: 0 auto 1em;
						box-shadow: 0 0 0.5em 0 rgba($primary, 0.8);
						z-index: 1;
					}

					&::after {
						position: absolute;
						height: 1px;
						width: calc(100% + 12em);
						top: calc(0.4375em - 1px);
						left: 50%;
						transform: translateX(-50%);
						background: $light-gray;
					}
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {

				&:first-of-type .elementor-widget-heading {

					&::after {
						background: linear-gradient(to left, $light-gray 75%, rgba($light-gray, 0));
					}
				}

				&:last-of-type .elementor-widget-heading {

					&::after {
						background: linear-gradient(to right, $light-gray 75%, rgba($light-gray, 0));
					}
				}
			}

		}

		@media (min-width: $breakpoint-tablet) {

			&.Boxes {
				margin-top: 0;
			}
		}
	}

	&--jump {

		.elementor-row {
			justify-content: space-between;
			align-items: flex-start;
			margin: 1em;

			@media (min-width: $breakpoint-desktop) {
				margin: 0;
			}
		}

		@media (min-width: $breakpoint-tablet) {

			.elementor-column[class*="Box"] {
				width: calc(50% - 1.5em) !important;
			}

		}

		@media (min-width: $breakpoint-tablet-landscape) {

			.elementor-column[class*="Box"] {
				min-height: 22.5em;
			}
		}

		@media (min-width: $breakpoint-desktop) {

			@for $margin from 1 to 6 {

				.elementor-column:nth-of-type(#{$margin}) {
					margin-top: 1.5em * $margin;
				}
			}
		}
	}

	&.Boxes--home {

		.wrapper,
		.elementor-container {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

		.elementor-widget {
			margin: 0;
		}

		.wrapper .elementor-column {

			.elementor-widget-wrap {

				@include color(box-shadow, box-shadow);
				@include color(background-color, main-background);
			}

			.elementor-image {
				padding: 1.75em 1.75em 0;

				a {
					border-radius: $border-radius;
					overflow: hidden;
					max-height: 15em;
				}
			}

			.elementor-widget-heading {
				padding: 1.75em 1.75em 0;
			}

			.elementor-widget-text-editor {
				padding: 0 1.75em 1.75em;

				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.elementor-col-50,
	.elementor-col-33 {
		position: relative;
		padding: 20px;

		.elementor-widget-wrap {
			border-radius: $border-radius-16;
			align-items: flex-start;
		}

		.elementor-widget-image.wide .elementor-image {
			padding: 0;
		}

		.elementor-widget-image {
			overflow: hidden;
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;

			.elementor-image {
				display: block;
				height: 100%;
				padding: 30px 40px 0;

				a {
					display: block;
					height: 100%;
				}

				img,
				picture {
					display: block;
					margin: auto;
					width: auto !important;
					max-width: 100%;
					// height: 100%;
				}
			}
		}

		.elementor-widget-text-editor {
			margin-bottom: 0;
			text-align: left;

			p {
				max-width: none;
				text-align: left;
			}

			a:not(.Button) {

				@include color(color, primary-color);

				&:active,
				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}

			a {

				@include color(color, font-color-dark);
				font-weight: $font-weight-bold;
			}
		}

		.elementor-widget-heading,
		.elementor-widget-text-editor {
			position: static;
			padding: 15px 0 0;

			h3 {
				font-size: 24px;
				line-height: 28px;

				a {

					&::before {

						@include posZero;
						position: absolute;
						content: "";
						z-index: 1;
					}
				}
			}
		}
	}

	@media (max-width: $breakpoint-desktop) {

		h2 {
			font-size: $font-size-h2;
			line-height: 1.3125 !important;
		}

		.elementor-container {
			padding-left: 5px;
			padding-right: 5px;
		}

		.elementor-col-50,
		.elementor-col-33 {
			padding: 1em;
		}
	}

	@media (max-width: $breakpoint-tablet) {
		padding-top: 0 !important;
		padding-bottom: 0 !important;

		.elementor-widget-image {
			max-height: none;
		}

		.elementor-col-33 {
			width: 100%;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	@media (min-width: $breakpoint-tablet) {
		margin-top: 3.75em;
		margin-bottom: 3.75em;
	}
}
