/* stylelint-disable selector-class-pattern, no-descending-specificity */
/* stylelint-disable value-keyword-case */

.Category__item {

	position: relative;

	&:not(.Category__item--blogLike) {

		border: 1px solid $light-gray;
		border-radius: $border-radius-16;
		padding: 1em;
		margin-bottom: 1.375em;
		max-height: 18.125em;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0);
		transition: box-shadow 0.5s;
		overflow: hidden;
		cursor: pointer;

		&:active,
		&:focus,
		&:hover {

			@include color(box-shadow, box-shadow);
		}

		.Category__item {

			&__thumbnail {
				display: flex;
				align-items: center;
				width: 100%;
				height: 3.125em;
				margin-bottom: 1.5em;
				overflow: hidden;

				img,
				picture {
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}

			&__title {
				max-height: 2.75em;
				overflow: hidden;

				a {

					@include color(color, font-color-dark);
				}
			}

			&__excerpt {
				max-height: 5em;
				overflow: hidden;

				p,
				> a {

					@include color(color, font-color-level3);
					max-height: 5.25em;
					overflow: hidden;
					font-size: $font-size-smaller;
					line-height: $line-height-smaller;
					margin-bottom: 5px;
				}
			}
		}


		@media (min-width: $breakpoint-tablet) {
			padding: 2.5em;
		}

		@media (max-width: $breakpoint-tablet - 1) {
			display: flex;
			flex-direction: column;

			> * {
				float: none;
			}

			.Category__item__title,
			.Category__item__excerpt {

				width: 100%;
				max-height: none;
			}
		}
	}

	&:not(.pillar):not(.Category__item--blogLike) {

		&:hover {

			@include color(color, font-color-light);

			* {
				color: currentColor;
			}
		}

		.Category__item {

			&__thumbnail {

				@include square(5.25em);
			}
		}
	}
}

.Category__item.pillar {
	position: relative;
	align-items: center;
	background: url(../../images/bg_dots-full.svg)  0 10% no-repeat;
	background-size: 100% auto;
	width: 100%;

	a {

		&::after {
			display: none !important;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		display: flex;

		.Category__item__wrap {
			width: 58%;
		}
	}

	.Category__item {

		&__thumbnail {
			justify-content: center;
			width: 42%;
			height: 9em;
			margin-bottom: 0;
			left: -1.25em;
			overflow: visible;
			display: none;

			img,
			picture {

				@include square(100%);
				object-fit: contain;
			}

			@media (min-width: 1024px) {
				display: block;

				&__image {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					max-width: 350px;
					height: 100%;
				}
			}
		}

		&__title {

			font-size: 1.25em;
			line-height: 1.4166;
		}

		&__excerpt {
			position: relative;
			overflow: visible;

			p,
			> a {

				@include color(color, font-color-normal);
				display: block;
				font-weight: 700;
				overflow: hidden;
				max-height: 70px;

				@media (max-width: $breakpoint-tablet-landscape - 1px) {
					max-width: 435px;
				}
			}

			span {

				@include color(color, primary-color);
				display: flex;
				position: absolute;
				right: 0;
				bottom: -2.25em;
				font-weight: 700;

				&::after {

					@include square(1.3125rem);
					content: "";
					display: block;
					margin-left: 10px;
					background-image: url(../../images/icon_read-more-orange.svg);
					transition: margin-left 0.3s;
				}

				&:active,
				&:focus,
				&:hover {

					&::after {
						margin-left: 0.5em;
					}
				}
			}
		}
	}
}

.Category__item--blogLike {
	border-radius: $border-radius-16;
	box-shadow: 0 15px 66px -15px rgba($black-real, 0.12);
	transition: transform 0.2s;
	cursor: pointer;
	margin-bottom: 1.375em;

	&:hover {
		transform: translateY(-2em);
	}

	&__thumbnail {
		position: relative;
		display: block;
		height: 9.375em;

		&::before {

			@include posZero;
			content: "";
			position: absolute;
			background: linear-gradient(270deg, rgba(#222, 0.2) 0%, rgba(#333, 0) 54%);
			border-radius: $border-radius-16 $border-radius-16 0 0;
		}

		.postLabel {
			--labelcolor: #{$tag};

			@include color(color, font-color-dark);
			position: absolute;
			display: flex;
			align-items: center;
			top: 2.5em;
			right: -0.5em;
			border-radius: 5px;
			background-color: var(--labelcolor);
			padding: 0.75em 1em 0.75em 0.15em;
			font-size: 0.625rem;
			font-weight: 600;
			line-height: 1.25;

			&[class*="postLabel__"] {

				&::before {
					margin-top: 0;
				}
			}

			&::before {

				content: "\e82e";
				font-family: fontello; /* stylelint-disable-line */
				line-height: 1;
				margin-top: -0.15em;
				margin-right: 0.5em;
				z-index: 1;
			}

			svg {

				fill: var(--labelcolor);
				height: 100%;
				position: absolute;
				top: 0;
				right: calc(100% - 3px);
			}

			&__time {

				&::before {
					content: url(../../images/icon-clock.svg);
				}
			}

			&__video {
				--labelcolor: #{$lighter-gray};
				top: 6em;

				&::before {
					content: url(../../images/icon-play.svg);
				}
			}
		}

		img,
		picture {

			@include square(100%);
			object-fit: cover;
			border-radius: $border-radius-16 $border-radius-16 0 0;
		}
	}

	&__content {
		padding: 2em;

		&[style*=":"] {
			mask-image: linear-gradient(to bottom, $black-real calc(100% - 6em), transparent calc(100% - 1em));
			mask-size: cover;
		}

		p {

			@include color(color, font-color-normal);
			font-size: 0.875rem;

			strong {

				@include color(color, font-color-dark);
				font-weight: 600;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.checklist {

			li::before {
				background-image: url(../../images/icon-post-check.svg);
			}
		}

		.learn-more {

			@include color(color, font-color-level3);
			font-size: 0.875rem;
		}

		a {

			@include color(color, font-color-dark);
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		margin-bottom: 3em;
	}
}
