/* stylelint-disable selector-class-pattern */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "../elements/SearchField";

.Category__header {
	background-color: #e3f2ff;
	padding: 0;

	.searchField {

		@extend %searchField;
	}

	.wrapper {
		flex-flow: nowrap column;
		justify-content: center;
		align-items: center;
		height: 20.3em;
		width: 100%;
		padding: 1.5em;
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		background-color: transparent;

		.wrapper {
			background: url(../../images/bg_category_integrations.svg?v=4) center no-repeat;
			background-size: cover;
		}

		&--features {

			.wrapper {
				background: url(../../images/features_bg.svg?v=3) center no-repeat;
				background-size: cover;
			}
		}

		&--academy {

			.wrapper {
				background: url(../../images/bg_category_academy.svg?v=3) center no-repeat;
				background-size: cover;
			}
		}

		&--templates {

			.wrapper {
				background: url(../../images/bg_category_templates.svg?v=3) center no-repeat;
				background-size: cover;
			}
		}
	}

	&--center {
		text-align: center;
		max-width: 30em;
	}

	&__title {
		font-size: 2.25rem;
		margin-bottom: 0;
	}

	&__subtitle {
		color: $black;
		font-family: $font-secondary;
		font-size: 0.875rem;
		margin-bottom: 2rem;

		&:not(:first-child) {
			margin-top: 0.5rem;
		}
	}

	&--voip {

		+ .Category__container {

			.Category__item__title {
				max-height: 24px;
			}
		}
	}
}

