/* stylelint-disable selector-class-pattern */
@use "../common/variables" as *;
@use "../common/mixins" as *;

.pap-panHomeSplit {
	margin-top: $block-space-sm;
	margin-bottom: $block-space-sm;
	text-align: center;

	.wrapper__wide {
		padding-top: 0;
		padding-bottom: 0;
	}

	&.elementor-section {

		&-boxed > .elementor-container {
			max-width: $breakpoint-desktop-box !important;
		}
	}

	&__header {

		@include boxBackground();
		border-radius: $border-radius-16;
		padding: 2em;
		margin-top: 0;

		.elementor-text-editor p {

			@include color(color, font-color-normal);
		}

		@media (min-width: $breakpoint-tablet) {
			padding: 5em 25% 6.8em 25%;

			h2 {
				font-size: 2.5rem;
			}
		}
	}

	&__column {

		@include color(background-color, main-background);
		border-radius: $border-radius-16;
		box-shadow: 0 15px 41px -9px rgba(145, 145, 145, 0.28), inset 0 -15px 20px -17px rgba(157, 157, 157, 0.1);
		overflow: hidden;
		padding: 0 !important;
		transition: transform 0.2s;

		&:hover {

			transform: scale(1.02) translateY(-1em);
		}

		* {
			position: static !important;
		}

		.elementor-widget-image {
			background: linear-gradient(to bottom, $white, rgba($black, 0.06));
			padding: 3em 1.5em;

			&:first-child ~ * {
				padding: 0 1.5em;
			}

			@media (min-width: $breakpoint-desktop) {
				min-height: 21em;

				&:first-child ~ * {
					padding: 0 25%;
				}
			}
		}

		.elementor-heading-title {
			margin: 1em auto 0;
		}

		.learnMore {
			margin-bottom: 2em;

			a {

				@include color(color, font-color-level3);
				display: inline-flex;
				align-content: center;
				font-size: 0.875rem;
				line-height: 1;
				text-decoration: none;

				&::before {

					@include posZero;
					position: absolute;
					content: "";
					z-index: 2;
				}

				&::after {
					content: url(../images/icon-arrow-grey.svg);
					margin-left: 0.5em;
					margin-top: 0.1em;
				}

				&:active,
				&:focus,
				&:hover {

					@include color(color, font-color-level3);
				}
			}
		}
	}

	@media (max-width: $breakpoint-tablet-landscape) {
		padding: 0 1.5em;

		&__column {
			margin-top: 1.5em;
		}
	}

	@media (min-width: $breakpoint-tablet) {
		margin-top: $block-space;
		margin-bottom: $block-space;

		&__column {
			width: calc(50% - 1em) !important;
			margin: 0 0.5em;

			&--wrap {
				position: relative;
				z-index: 1;
				max-width: $wrapper-width;
				margin: -3.8em auto 0 auto;
				padding: 0 0.5em;
			}
		}
	}
}
