/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;
@use "../common/mixins" as *;

.Reference {
	overflow: hidden;

	.Block--title-big + & {
		margin: 0 !important;

		@media (min-width: $breakpoint-tablet) {

			margin-top: 3em !important;
		}
	}


	&.Block--background {
		padding: 0 !important;
		background: none;

		.wrapper {
			padding: 0 !important;
			background: none;
		}
	}

	.SliderTestimonials__slider--reference {
		position: relative;
		max-width: 68em;
		margin: 0 auto;

		.splide {
			padding: 0;

			.splide__list {
				display: flex;
				align-items: stretch;
				width: 100%;
				padding: 3em 0;
			}

			.splide__arrows {
				position: absolute;
				width: calc(100% + 8em);
				left: -4em;
				top: 50%;
				transform: translate(0, -50%);
				z-index: 1;
			}

			.splide__arrow {

				@include square(55px);
				background: $white;
				box-shadow: 0 4px 50px rgba($black-real, 0.08);
				opacity: 1 !important;

				&::before {
					color: $black;
				}

				&--prev {
					transform: translate(-3em, 50%);
				}

				&--next {
					transform: translate(3em, 50%);
				}
			}
		}

		.splide__slide {
			margin: 0;

			.slide__inn {
				padding: 0 1em;

				&::after {

					height: 100%;
					width: calc(100% - 2em);
					top: 0;
					left: 1em;
					content: "";
					position: absolute;
					background-color: $white;
					border-radius: $border-radius-16;
					box-shadow: 0 0 3em rgba($black-real, 0.2);
					overflow: hidden;
				}
			}
		}

		@media (min-width: $breakpoint-tablet) {

			.splide {

				.splide__list {
					padding: 10em 0 7em;
				}
			}

			.splide__slide {
				margin: 0;

				.slide__inn {
					padding: 0;
					opacity: 0.6;
					transition: all 0.8s;

					&::after {
						width: 100%;
						left: 0;
					}
				}

				&.is-active {
					z-index: 1;

					.slide__inn {
						opacity: 1;
						transform: scale(1.33333);

						&::after {
							box-shadow: 0 0.25em 4em rgba($black-real, 0.08);
						}
					}
				}
			}
		}

		@media (max-width: $breakpoint-tablet-landscape) {

			.splide {
				position: relative;
			}

			.splide__slide {
				height: auto;
			}
		}

		.slide__inn {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0;
			text-align: center;
		}

		.SliderTestimonials__slider {

			&__top {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				z-index: 1;
			}

			&__header__photo {
				position: relative;
				width: 23%;
				margin-top: -2.75em;
				margin-bottom: 1.5em;
				border-radius: 0 0 $border-radius-16 $border-radius-16;

				img,
				picture {
					position: relative;
					z-index: 1;
					width: 100%;
					border-radius: 50%;
				}

				&::after {

					@include posCustom(-0.3em);
					position: absolute;
					content: "";
					background: linear-gradient(to bottom, transparent 50%, #f1f1f1 50%);
					border-radius: 50%;
				}
			}

			&__name {
				font-size: 1.125em;
				color: $black;
			}

			&__company {
				font-size: 0.75em;
				color: $dark-gray;
			}

			&__content {

				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				z-index: 1;
				color: $white;
				font-size: 0.75em;
				font-family: $font-secondary;
				background-color: $primary;
				border-radius: 0 0 $border-radius-16 $border-radius-16;
				overflow: hidden;
				padding: 3.5em 5em;
				margin-top: auto;
				min-height: 20.5em;

				* {
					color: inherit;
				}

				span {
					position: relative;
					z-index: 1;
				}

				&::before {

					@include square(5em);
					position: absolute;
					top: 0;
					left: 2em;
					display: block;
					background: url(../images/quote.svg) center center no-repeat;
					background-size: contain;
					filter: brightness(90%) saturate(1.1);
					content: "";
				}
			}
		}
	}
}
