/* stylelint-disable selector-class-pattern */

.Reviews {
	margin-top: $block-space;
	margin-bottom: $block-space;

	.elementor-section & {
		margin-top: 0;
		margin-bottom: 0;
	}

	.elementor-widget:not(:last-child) {
		margin-bottom: 0 !important;
	}

	h2 {
		font-size: $font-size-h1;
		line-height: $line-height-h1 !important;
		margin-bottom: 15px !important;
		text-align: center;
	}

	p {
		text-align: center;
		max-width: 650px;
		margin: auto;
		margin-bottom: 45px;
		font-size: $font-size-default;
	}

	.elementor-widget-html .elementor-widget-container {
		display: flex;
		flex-flow: wrap column;
		justify-content: flex-start;
		align-items: center;
	}

	.Button + .no-cc {
		font-size: 0.625rem;
	}

	&__items {
		display: flex;
		flex-flow: wrap row;
		justify-content: center;
		align-items: center;
		margin-top: 3em;

		&__item {
			display: flex;
			flex-flow: wrap column;
			max-width: 195px;
			margin: 0 90px;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}

			a {
				display: flex;
				flex-flow: wrap row;
				justify-content: center;
			}

			img,
			picture {
				display: block;
				max-width: 100%;
				height: 40px;
				margin-bottom: 20px;
			}

			&__stars {

				&__item {
					display: inline-block;
					margin-right: 5px;
					width: 30px;
					height: 30px;
					background-image: url(../images/icon_star.svg);

					&.blue {
						background-image: url(../images/icon_star_blue.svg);

						&.half {
							background-image: url(../images/icon_star_half_blue.svg);
						}
					}

					&.half {
						background-image: url(../images/icon_star_half.svg);
					}
				}
			}
		}
	}

	.Clients {
		margin-top: 35px;

		&__item {
			margin-left: 30px;
			margin-right: 30px;
		}
	}

	&--short {
		margin-top: $block-space;
		margin-bottom: $block-space;

		h2 {
			font-size: $font-size-h2;
			line-height: $line-height-h2 !important;
		}

		.Reviews__items {
			margin-top: 20px;

			&__item {
				margin: 0 40px;

				img,
				picture {
					margin-bottom: 0;
				}
			}
		}
	}

	@media (max-width: $breakpoint-desktop) {

		h2 {
			font-size: $font-size-h2;
			line-height: $line-height-h2 !important;
		}

		&__items {
			margin-top: 45px;

			&__item {
				margin: 20px 35px !important;
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {
		margin-top: $block-space-sm;
		margin-bottom: $block-space-sm;

		h2 {
			margin-bottom: 5px !important;
		}

		p {
			font-size: 14px;
			line-height: 24px;
		}

		&--short {
			margin-top: $block-space-sm;
			margin-bottom: $block-space-sm;

			.Reviews__items {
				margin-top: 0;
			}
		}
	}

	@media (max-width: $breakpoint-mobile) {

		h2 {
			font-size: 28px;
			line-height: 38px !important;
		}

		&__items {
			margin-top: 25px;

			&__item {
				align-items: center;
				max-width: none;
				margin: 10px 15px !important;

				img,
				picture {
					height: 30px;
					margin-bottom: 10px;
				}

				&__stars {

					&__item {
						width: 20px;
						height: 20px;
					}
				}
			}
		}

		.Clients {
			margin-top: 0;
		}

		&--short {

			.Reviews__items {
				margin-top: 25px;
			}
		}
	}
}

html[lang="sk-SK"] .Reviews,
html[lang="de-DE"] .Reviews {

	.elementor-widget-html {

		.Reviews__items {
			display: none !important;
		}
	}
}

html[lang="sk-SK"] .Reviews--short,
html[lang="de-DE"] .Reviews--short {

	.elementor-widget-html {

		.Reviews__items {
			display: flex !important;
		}
	}
}
