.Post__content__whatis-headline {

	@include color(background-color, third-color);
	margin-left: -50px;
	margin-right: -50px;
	margin-bottom: 1em;
	padding: 37px 50px;

	&::before {
		content: url(../images/icon-bulb.svg);
		width: 1.375rem;
		display: block;
	}

	h2 {
		margin-top: 0 !important;
	}

	p:last-child {
		margin-bottom: 0;
	}

	@media (max-width: $breakpoint-desktop) {
		margin: 0 -1.25em;
		padding: 1.25em;
	}
}
