/* stylelint-disable selector-class-pattern, no-descending-specificity */

@import "../common/mixins";
@import "../common/variables";

.AffiliateManagers {
	display: flex;
	flex-direction: column;
}

.AffiliateManagerCard {

	@include color(background-color, secondary-background);
	display: flex;
	flex-direction: column;
	padding: 1em 1em;
	border-radius: $border-radius-16;
	overflow: hidden;

	> *:not(:last-child) {
		padding-bottom: 1em;
	}

	&.primary.primary {
		order: -1;
		margin-top: 0;
		margin-bottom: 1.5em;
	}

	& + & {
		margin-top: 1.5em;
	}

	@media (min-width: $breakpoint-tablet-small) {
		flex-direction: row;
		align-items: stretch;

		> *:not(:last-child) {
			padding-bottom: initial;
			padding-right: 1.5em;
		}

	}

	&__image {

		position: relative;
		display: block;
		object-fit: cover;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		width: 100%;
		padding-bottom: 100%;
		border-radius: 50%;

		img {
			all: unset;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&--wrapper {
			position: relative;
			border-radius: $border-radius-16;
			overflow: hidden;
			transform: translateZ(1px);
			height: 100%;
			width: auto;
			max-width: 40%;

			@media (min-width: $breakpoint-tablet-small) {
				align-self: center;
				width: 19%;
				max-width: 30%;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;

		@media (min-width: $breakpoint-tablet-small) {
			width: 71.224%;
		}

		h3.AffiliateManagerCard__name {
			font-size: 1rem;
			margin: 0;

			a {
				color: currentcolor;
			}
		}

		.AffiliateManagerCard {

			&__industries {
				line-height: 1;
			}

			&__industry {

				@include color(color, font-color-normal);
				font-size: 0.75rem;

				+ strong {

					&::before {
						content: "/ ";
						display: inline;
					}
				}
			}

			&__desc {
				font-size: 0.8125rem;
				line-height: 1.538;
			}
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;

		@media (min-width: $breakpoint-tablet-small) {
			margin-top: auto;
			margin-bottom: 0;
			display: block;
		}


		li {

			@include color(background-color, button-outline-color);
			display: inline-block;
			position: relative;
			font-weight: 600;
			font-size: 0.75rem;
			border-radius: 1em;
			padding: 0.25em 1em;
			transition: background-color 0.2s;
			cursor: pointer;
			margin-top: 0.75em;

			&::before {

				@include color(color, primary-color);
				margin-right: 0.5em;
			}

			&:hover {
				background-color: $lighter-gray;
			}

			+ li {
				margin-left: 0;

				@media (min-width: $breakpoint-tablet-small) {
					margin-left: 0.5em;
				}
			}

			a {

				@include color(color, font-color-dark, !important);
				text-decoration: none !important;
				display: inline-block;

				&::after {
					display: none !important;
				}
			}
		}
	}

	&__showProfile {

		.learn-more {

			margin: 0;
			font-family: $font-secondary;
			font-size: $font-size-small;
			font-weight: $font-weight-semi;

			svg {

				@include square(1.333em);
				position: relative;
				margin-left: 0.5em;
				transform: translateX(0);
				transition: transform 0.2s;

				path {
					fill: $primary;
				}
			}

			@include hover() {
				text-decoration: none !important;

				svg {
					transform: translateX(0.5em);
				}
			}
		}

		@media (min-width: $breakpoint-tablet-small) {
			align-self: center;
			width: 19%;
		}
	}

}
