/* stylelint-disable selector-class-pattern */
@use "../common/variables" as *;
@use "../common/mixins" as *;

.BlockPricing {
	padding-top: 0 !important;
	padding-bottom: 0 !important;

	&__container {
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		align-items: flex-start;

		@media (min-width: $breakpoint-tablet) {
			flex-flow: wrap row;

			&--center {
				justify-content: center;
			}
		}

		&__item {
			position: relative;
			width: 100%;
			border-left: 30px solid transparent;
			vertical-align: top;

			@media (min-width: $breakpoint-tablet) {
				max-width: 285px;
				width: 50%;
			}

			&::before {

				@include color(background-color, main-background);
				@include color(box-shadow, box-shadow);
				border-radius: $border-radius-16;
				content: "";
				display: inline-block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}

			.PricingTable__header {
				$gutter: 2em;
				position: relative;
				padding: $gutter;
				font-size: $font-size-default;
				z-index: 3;

				&__top {
					width: 100%;
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0.875em 0 0.5em 0;
					margin: (-$gutter) 0 1em 0;

					&::after {

						@include posCustom(auto,-$gutter,0,-$gutter);
						@include color(background-color, border-color-gray);
						content: "";
						position: absolute;
						display: block;
						height: 1px;
					}

					&__icon {
						margin-right: 0.5em;
					}

					&__title {
						margin: 0;
					}
				}

				&__award {
					width: 12.9375em;
					height: 3.375em;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0 0.5em 0.5em 1em;
					margin-left: (-0.875 - $gutter);
					margin-bottom: 1em;
					background: url(../../images/box-award.svg) left center no-repeat;
					background-size: contain;

					&__text {
						line-height: 1.2;
						font-weight: $font-weight-semi;
						font-size: $font-size-small;
					}
				}

				&__title h3 {
					font-size: 24px;
				}

				&__icon {
					width: 40%;
					margin: 0 0 2rem;
				}

				&__price {
					font-weight: 700;
					align-items: center;
					margin: 0 0 1rem;
					font-size: 20px;

					&__before {
						display: block;
						width: 100%;
						font-weight: $font-weight-bold;
					}
				}

				&__button {

					a {
						width: 100%;
						text-align: center;
						margin-bottom: 0;
					}

					.Button {
						margin-top: 0;
					}
				}

				.SideRibbon__wrapper {
					margin-left: (-0.55 - $gutter);
					margin-bottom: 1em;
				}
			}
		}
	}

	&--outside {

		@media (min-width: $breakpoint-desktop) {
			margin-top: 150px !important;
			margin-bottom: 150px !important;

			.wrapper .elementor-column {

				&:last-of-type {
					margin-top: -100px;
					margin-bottom: -100px;
				}
			}
		}

		@media (max-width: $breakpoint-desktop) {
			margin: 100px 0 !important;

			.wrapper .elementor-column {

				&:last-of-type {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}

	@media (max-width: $breakpoint-tablet-landscape) {
		padding-top: 100px !important;
		padding-bottom: 100px !important;

		&:not(.Block--background) {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}

		.elementor-row,
		.elementor-container {
			flex-flow: wrap column !important;
		}

		.wrapper .elementor-column {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			max-width: none !important;

			&.elementor-col-50:first-of-type {
				text-align: center;

				.tag {
					margin: 0 auto;
					width: auto;
				}
			}
		}

		&__container {
			justify-content: center;
			margin-top: 80px;

			&__item {
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {

		p {
			font-size: 14px;
			line-height: 24px;
		}

		&__container {
			margin-top: 0;

			&__item {
				margin-bottom: 1.5em;

				.PricingTable__header {
					width: 100%;

					&__title {
						margin-bottom: 15px;
					}

					&__description {
						margin-bottom: 10px;
					}

					&__price {
						margin-bottom: 40px;
					}
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}
