/* stylelint-disable selector-class-pattern */
@use "../common/variables" as *;
@use "../common/mixins" as *;

.HeroBig {

	&.wrapper,
	&.wrapper__wide {
		text-align: center;
		border-radius: $border-radius-16;
		overflow: hidden;
		padding: 0 !important;
		margin-bottom: 1.5em;

		.elementor-col-100 > .elementor-element-populated {
			padding: 2em !important;

			@media (min-width: $breakpoint-tablet-landscape) {
				align-items: center;
			}

			@media (min-width: $breakpoint-desktop-box) {
				min-height: 48.125em;
			}
		}

	}

	.elementor-container {
		max-width: $breakpoint-desktop-box !important;
	}

	h2 {
		font-size: 2rem;
	}

	&__subtitle p {

		font-family: $font-secondary;
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		h2 {
			font-size: 3.43rem;
		}

		&__subtitle p {
			font-size: 1.5rem !important;
		}
	}

	@media (min-width: $breakpoint-desktop-box) {

		h2 {
			margin-top: 1em;
		}
	}
}
