/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;
@use "../common/mixins" as *;

.MerchantAffiliate {
	background: url(../../images/merchant_affiliate_bg.svg) left center no-repeat;
	background-size: auto 100%;
	border-radius: $border-radius-16;
	overflow: hidden;

	.elementor-inner-section .elementor-row {
		display: block !important;
		padding: 0 1.5em;

		@media (min-width: $breakpoint-tablet-landscape) {
			padding: 0;
		}
	}

	.elementor-row {
		align-items: center;
	}

	&__content .elementor-widget-wrap {

		padding: 1.5em !important;

		@media (min-width: $breakpoint-tablet-landscape) {
			padding: 0;
			padding-right: 4.5em !important;

			.elementor-heading-title {
				font-size: 1.875rem;
				line-height: 1.4;
			}
		}
	}

	&__box.elementor-column {

		@include color(background-color, main-background);
		border-radius: $border-radius-16;
		box-shadow: 0 10px 15px rgba(145, 145, 145, 0.28), inset 0 -25px 25px -19px rgba(157, 157, 157, 0.12);
		width: 100%;
		overflow: hidden;

		+ .elementor-column {
			margin-top: 1.5em;
		}

		.elementor-widget {

			&-video,
			&-image {
				position: relative;
				z-index: 10;

				.elementor {

					&-video .youtube__loader,
					&-image {

						&::before {
							content: "";
							z-index: 1;

							@include posZero;
							position: absolute;
							background: linear-gradient(to bottom, rgba($black-real, 0.5), rgba($black-real, 0.16));
						}
					}
				}

				.youtube__loader {

					&::after {

						@include square(4em);
						background: url(../../images/merchant_affiliate_play.svg) center center no-repeat;
						background-size: contain;
					}
				}
			}

			&-heading {
				margin-top: 0;
				margin-bottom: 0;

				.elementor-heading-title[class] {
					margin-bottom: 0;
				}
			}

			&-heading,
			&-text-editor {
				margin-left: 2em;
			}

		}

		@media (min-width: $breakpoint-tablet) {
			height: 9.5em;

			.elementor-widget {

				&-wrap {
					display: block !important;
				}

				&-video,
				&-image {
					float: left;
					width: 40%;
					height: 100%;
					margin-right: 3em;
					margin-bottom: 0;
					border-radius: $border-radius-16;
					overflow: hidden;

					* {
						padding-bottom: 0;
						height: 100% !important;
						border-radius: $border-radius-16;
						overflow: hidden;
					}
				}

				&-heading {
					margin-top: 4em;
				}

				&-text-editor {
					display: inline;
					margin-left: auto;
				}
			}

		}

	}
}
