@import "../common/variables";

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 250ms ease-in-out;
	border-radius: $border-radius-16;
	z-index: 100;
	background-color: $white;
	max-width: 540px;
	padding: 1.25em 3.625em;

	&--heading {
		display: inline-block;
		font-size: 1.875rem;
		margin: 0.6em auto;

		&::after {
			transform: rotate(180deg) scale(1.1);
		}
	}

	&--text {
		line-height: $line-height-default;
		font-size: $font-size-smaller;
		cursor: pointer;
	}

	&--close {
		position: absolute;
		right: 2.125rem;
		top: 1.81rem;
		cursor: pointer;
	}

	&.active {
		transform: translate(-50%, -50%) scale(1);
	}
}

#overlay {
	position: fixed;
	opacity: 0;
	transition: 250ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;

	&.active {
		pointer-events: all;
		opacity: 1;
	}
}
