/* stylelint-disable selector-class-pattern */

@keyframes chatDots {

	0% {
		opacity: 0.5;
	}

	15% {
		transform: translateY(-0.25em);
	}

	25% {
		transform: translateY(0);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}

@mixin shakeX($distanceX: 1em) {

	@at-root {

		@keyframes shakeX {

			from,
			to {
				transform: translate3d(0, 0, 0);
			}

			10%,
			30%,
			50%,
			70%,
			90% {
				transform: translate3d(-#{$distanceX}, 0, 0);
			}

			20%,
			40%,
			60%,
			80% {
				transform: translate3d(#{$distanceX}, 0, 0);
			}
		}

		.shakeX {
			animation-name: shakeX;
		}
	}
}

@keyframes pulse {

	0% {
		box-shadow: 0 0 0 0 rgba(245, 145, 44, 0.6);
	}

	70% {
		box-shadow: 0 0 0 15px rgba(245, 145, 44, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(245, 145, 44, 0);
	}
}
