/* stylelint-disable selector-class-pattern */
/* stylelint-disable scss/at-extend-no-missing-placeholder */

html {
	scroll-behavior: smooth;
	scroll-padding-top: 6em;
}

body {

	@include color(background-color, main-background);
	font-family: $font-primary;
	font-size: $font-size-default;
	font-weight: $font-weight-normal;
	line-height: $line-height-default;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.home .AppContainer {
	overflow: hidden;
}

picture {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1280px;
}

.wrapper {
	position: relative;
	width: 100%;
	max-width: $wrapper-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $wrapper-padding;
	padding-right: $wrapper-padding;
	border-radius: 1rem;

	@media (max-width: $breakpoint-desktop) {
		padding-left: ($wrapper-padding * 2);
		padding-right: ($wrapper-padding * 2);
	}

	@media (max-width: $breakpoint-tablet) {
		padding-left: ($wrapper-padding * 2) !important;
		padding-right: ($wrapper-padding * 2) !important;
	}

	@media (max-width: 415px) {
		padding-left: $wrapper-padding !important;
		padding-right: $wrapper-padding !important;
	}

	&__extended {
		max-width: $breakpoint-desktop-box;

		@media (min-width: $breakpoint-tablet-landscape) {
			padding: 3em 8.7%;
		}

		@media (min-width: $breakpoint-desktop-box) {

			padding: 5.25em 7.5em;
		}
	}

	&__wide {
		position: relative;
		max-width: 1380px;
		margin-left: auto;
		margin-right: auto;
		padding: 1.5em 0;

		@media (min-width: $breakpoint-tablet) {
			padding: 2.75em 0;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			display: flex;
		}
	}
}

.grecaptcha-badge {
	display: none !important;
}

.flex {
	display: flex;

	&-wrap {
		flex-wrap: wrap;
	}
}

.flex-justify-center {
	justify-content: center;
}

.flex-align-center {
	align-items: center;
}

.flex-center {

	@extend .flex-justify-center;
	@extend .flex-align-center;
}

.hidden {

	&-mobile {

		@media (max-width: ($breakpoint-tablet - 1px)) {
			display: none;
		}
	}

	&-desktop {

		@media (min-width: $breakpoint-tablet) {
			display: none;
		}
	}
}

.icon-bg-rounded {

	@include square(4em);
	background-color: $light-primary;
	border-radius: $border-radius-14;
	padding: 1em;
	flex-shrink: 0;

	img {

		@include square(100%);
	}

	@media (min-width: $breakpoint-tablet) {

		@include square(5.25em);
		padding: 1.25em;
	}
}
