/* stylelint-disable selector-class-pattern */
@use "../common/variables" as *;
@use "../common/mixins" as *;

.CTA {

	&__wrapper {

		@include color(color, font-color-light);
		display: flex;
		align-items: center;
		background: url(../../images/cta_bg_mobile.jpg?v2) left top no-repeat;
		background-size: cover;
		overflow: hidden;
		border-radius: $border-radius-16;
		margin: 3em auto;

		@media (min-width: $breakpoint-tablet) {
			background: url(../../images/cta_bg.jpg?v2) left top no-repeat;
			background-size: cover;
		}
	}

	&__content {
		margin: 3em 2.5em;
	}

	&__title {
		font-size: 2rem;
		line-height: 1.25;
		font-weight: 600;
		margin-bottom: 0.25em;
	}

	&__button {

		@include color(background, content-color-light);
		@include color(color, primary-color);
		margin-top: 1.5em;
		padding: 0.5em 1.7em;
		overflow: hidden;
		transition: all 0.5s;

		&::after {
			content: "";
			position: absolute;
			left: -50px;
			bottom: -50px;
			height: 50%;
			width: 0;
			background: rgba(17, 138, 247, 0.15);
			transform: rotate(-20deg);
			transition: all 0.5s ease;
		}

		&:hover {

			&::after {
				height: calc(100% + 250px);
				width: calc(100% + 120px);
			}
		}
	}

	&__content + picture,
	&__content + img.CTA__image {
		display: none;
	}

	@media (min-width: $breakpoint-tablet) {

		&__content {
			width: 60%;
			padding-left: 3.75em;
			padding-right: 2.5em;
			margin: 2em 0;
		}

		&__content + picture,
		&__content + img.CTA__image {
			position: relative;
			display: block;
			width: 38%;
			top: 1px;
			margin-left: auto;
			margin-top: auto;
		}
	}
}
