/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;
@use "../common/mixins" as *;

.Archive {

	&__container {

		.testimonials &.Archive__container {

			.Archive__container__content {
				margin-left: 0 !important;
				padding-left: 0 !important;

				li {
					margin-bottom: 1.5em;

					a {
						text-decoration: none;
					}
				}

				@media (min-width: $breakpoint-tablet) {
					display: flex;
					flex-wrap: wrap;
					align-items: stretch;
					flex: 1;
					justify-content: space-between;
					max-width: $breakpoint-desktop;

					li {
						width: 48%;
						margin-bottom: 3%;
					}
				}
			}
		}

		&--success-stories {
			padding: 3em 0 0;
		}
	}

	.glossary__how,
	.directory__how {

		.Content > *:not([class*="FAQ"]) {

			&:first-child {
				margin-top: 2.5em;
			}
		}


		@media (min-width: $breakpoint-tablet-landscape) {

			.Split__title,
			.Content > *:not([class*="FAQ"]) {
				max-width: 40.625rem;
				margin-left: auto;
				margin-right: auto;

			}

			.Content {

				.Post__m__negative[class*="FAQ"] {
					margin-left: auto;
					margin-right: auto;
				}

				.Post__m__negative,
				.BlockDiscover,
				.BlockQuote--discover,
				.wide,
				.wp-block-embed,
				.youtube__loader {
					margin-left: -3.125em;
					margin-right: -3.125em;
				}
			}
		}
	}
}
