/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;
@use "../common/mixins" as *;

.Archive {

	&__container {

		.testimonials &.Archive__container {

			.Archive__container__content {
				margin-left: 0 !important;
				padding-left: 0 !important;

				li {
					margin-bottom: 1.5em;

					a {
						text-decoration: none;
					}
				}

				@media (min-width: $breakpoint-tablet) {
					display: flex;
					flex-wrap: wrap;
					align-items: stretch;
					flex: 1;
					justify-content: space-between;
					max-width: $breakpoint-desktop;

					li {
						width: 48%;
						margin-bottom: 3%;
					}
				}
			}
		}

		&--success-stories {
			padding: 3em 0 0;
		}
	}
}
