/* stylelint-disable selector-class-pattern, selector-id-pattern */
/* stylelint-disable no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.page-template-template-thank-you {

	@include color(background-color, main-background);

	.Header,
	.Newsletter,
	.Footer,
	.GoodHands {
		display: none;
	}

	#app {
		padding-top: 0;
	}


	#loader {

		@include color(background, main-background);
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 50px 0;
		z-index: 15000;
		display: flex;
		flex-flow: wrap row;
		justify-content: center;
		align-items: center;
		opacity: 1;
		overflow: auto;

		&.invisible {
			opacity: 0;
			pointer-events: none;
		}

		.loaderIn {
			text-align: center;
			overflow: hidden;

			h2 {
				margin-top: 25px;
				margin-bottom: 15px;
			}
		}

		.loading-bar,
		.loading-info {
			display: none;
		}

		.progressHeart {
			position: relative;
			width: 200px;
			margin: 0 auto;

			.percentage {
				position: absolute;
				top: 85px;
				right: 0;
				left: 0;
			}

			#heart-1 {
				stroke-dasharray: 269.663, 269.663;
				stroke-dashoffset: 269.663;
				transition: stroke-dashoffset 0.1s;
			}

			svg {
				transform: scale(1);
				animation: pulse2 2s infinite;
			}
		}

		@media (max-width: 800px) {

			.loaderIn {
				padding: 0 35px;
			}
		}
	}

	@keyframes pulse2 {

		0% {
			transform: scale(0.9);
		}

		70% {
			transform: scale(1);
		}

		100% {
			transform: scale(0.9);
		}
	}

	#redirectButtonPanel[style*="block"] + .mobileSignupFinal {

		@media (max-width: 1024px) {
			display: flex;
		}
	}

	#redirectButtonPanel[style*="block"] {
		display: flex;
	}

	#redirectButtonPanel {
		flex-flow: wrap row;
		justify-content: center;
		align-items: center;

		.FinalButton {

			@include color(background, background);
			@include color(color, font-color-light);
			display: inline-block;
			margin: 0;
			padding: 0 35px;
			border: 0;
			border-radius: $border-radius-small;
			font-size: 14px;
			line-height: 48px;
			font-weight: $font-weight-bold;
			text-align: center;
			text-decoration: none;
			transition: all 0.3s;
			cursor: pointer;

			&:active,
			&:focus,
			&:hover {

				@include color(background, background-invert, !important);
				@include color(color, font-color-light);
				outline: 0;
				text-decoration: none;
			}
		}
	}

	[class*="--mobile"] {
		display: none !important;
	}

	@media (max-width: 1024px) {

		[class*="--desktop"] {
			display: none !important;
		}

		[class*="--mobile"] {
			display: block !important;
		}
	}

	.BuildingApp {
		display: flex;
		flex-flow: wrap column;
		justify-content: center;
		align-items: center;

		&__logo {
			display: block;
			width: auto;
			max-height: 50px;
			margin-bottom: 25px;
		}

		&__title {
			display: block;
			max-width: 1000px;
			margin: 0 auto 15px;
		}

		&__subtitle {
			display: block;
			max-width: 1000px;
			margin: 50px auto 0;
		}

		&__text {
			display: block;
			max-width: 1000px;
			margin: 0 auto 8px;
		}
	}

	.ApplicationReady {

		.BuildingApp__subtitle,
		.BuildingApp__text,
		.BuildingApp__title.BuildingApp--mobile,
		.progressHeart {
			display: none !important;
		}

		.BuildingApp__title.BuildingApp--desktop {
			display: block !important;
		}

		#redirectButtonPanel {
			margin-top: 65px;
		}

		&--spam {

			.BuildingApp__text.BuildingApp--desktop {
				display: block !important;
			}
		}
	}

	@media (max-width: 1024px) {

		.ApplicationReady.ApplicationReady.ApplicationReady {

			.BuildingApp {

				.BuildingApp__text.BuildingApp--desktop {
					display: block !important;
				}
			}
		}
	}

}
