/* stylelint-disable selector-class-pattern, no-descending-specificity */
/* stylelint-disable scss/at-extend-no-missing-placeholder */

.ComparePlans {

	&__fixed {
		left: 0;
		right: 0;
		width: 100%;
		background-color: $white;
		z-index: 10;

		&::after {
			position: absolute;
			left: 50%;
			bottom: 0;
			content: "";
			width: 99vw;
			box-shadow: $light-gray 0 3px 4px;
			height: 1px;
			transform: translateX(-50%);
		}
	}

	&__header {

		&-top {

			@extend .PricingTable__header;

			@media (min-width: $breakpoint-desktop) {
				font-size: $font-size-default;
			}
		}

		&__switcher {
			justify-content: flex-end !important;

			&__title {
				font-family: $font-primary;
				font-size: $font-size-default;
			}
		}

		&__currency-switcher {
			position: static;
		}

		&__table-wrap {
			display: flex;
			flex-wrap: wrap;
			border: 1px solid $pricing-gray;
			border-bottom: none;
			border-radius: $border-radius $border-radius 0 0;

			&:first-child {
				border: none;
			}

			&--wide {
				flex: 1 1 calc(21.988% * 2);

				.ComparePlans__header__table-col {
					width: 50%;

					&:nth-child(3) {
						border-left: 1px solid $pricing-gray;
					}
				}
			}

			&:last-child {
				flex: 1 1 21.988%;
				max-width: 21.988%;
				margin-left: 2em;
			}
		}

		&__table-col {
			padding: 1.5rem;
			width: 100%;
		}

		&__title {
			margin-bottom: 0;

			h3 {
				font-size: 20px;
				line-height: 28px;
				margin-bottom: 0;

				span {

					@include color(color, font-color-normal);
					display: inline-block !important;
				}

				&:lang(pt),
				&:lang(nl),
				&:lang(pl) {
					font-size: 1rem;
				}

			}
		}

		&__price {
			font-size: $font-size-default;
			margin-bottom: 1em;
		}

		&__button {
			width: 100%;
		}

		&__list {

			ul {
				font-size: 14px;
				margin-left: 0 !important;
			}
		}
	}

	&__integrations {

		&--show {
			display: flex;
		}

		&--hide {
			display: none !important;
		}
	}

	&__table {

		@include color(color, font-color-dark);
		margin: 2rem 0;
		font-family: $font-primary;
		font-size: $font-size-smaller;
	}

	&__table-head-content {
		background-color: $white !important;
		margin-left: auto;
		margin-right: auto;
	}

	&__info {

		@include square(1rem);
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		flex: 0 0 15px;
		max-width: 15px;
		margin: 0 0.5rem;
		border-radius: 50%;
		border: 1px solid #c7cfd9;
	}

	&__info::after {
		content: "i";
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 1px;
		bottom: 0;
		left: 0;
		margin: auto;
		color: #c7cfd9;
		font-size: 9px;
		font-weight: 700;
	}

	&__table-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		border-bottom: 1px dashed $light-gray;
		border-top: 1px dashed $light-gray;
		padding: 8px 1.5em;
		background-color: $light-gray;
		font-size: $font-size-default;
		font-family: $font-secondary;
		font-weight: 600;
	}

	&__table-icon {
		margin-bottom: 0;
		margin-right: 0.5rem;
		max-width: 18px;
		max-height: 18px;
	}

	&__table-head-wrap {
		width: 100%;
		min-height: 45px;

		&--desktop {
			position: sticky;
			top: 90px;
			z-index: 10;
		}

		&--mobile {
			display: none;

			.ComparePlans__table-head--mobile {
				border: 1px solid $light-gray;
				border-bottom: 0;
				border-radius: $border-radius $border-radius 0 0;
				overflow: hidden;
				width: 100%;
			}

			@media (min-width: $breakpoint-tablet) {

				&.fixed {
					left: 0;
					padding-left: 2rem;
					padding-right: 2rem !important;

					&::after {
						left: 0 !important;
						right: 0 !important;
					}
				}
			}
		}
	}

	&__table-head.ComparePlans__fixed &__table-head-content {
		padding: 0;
	}

	&__table-row--head {
		display: flex;
		border-bottom: none;
	}

	&__table-row {
		display: none;
		border-bottom: 1px dashed $light-gray;

		&:nth-child(odd),
		&.odd {

			@include color(background-color, secondary-background);
		}

		&.even {
			background-color: #fff;
		}

		&.ComparePlans__open {
			display: flex;
		}
	}

	&__table-col {
		flex: 1 1 21.988%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 1.5rem;
		border-right: 1px solid $light-gray;
		text-align: center;

		&:last-child {
			margin-left: 2em;
			border-left: 1px solid $light-gray;
		}

		&-mobile {
			flex: 0 0 33.33%;
			max-width: 33.33%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 8px 1rem;
			text-align: center;
			border-right: 1px solid $light-gray;

			&:last-child {
				border: none;
			}
		}

		&--title {
			position: relative;
			flex: 1 1 34% !important;
			justify-content: flex-start;
			border-top: 0;

			&-bold {
				font-weight: 700;
			}
		}
	}

	&__table-col-content {
		line-height: 1.5;
	}

	&__table-text {
		font-family: $font-secondary;
		font-weight: 700;
		margin: 0;
	}

	&__table-check {
		width: 8px;
		height: 16px;
		border: 2px solid $primary;
		border-top: none;
		border-left: none;
		transform: rotate(45deg);
	}

	&__table-arrow {

		@include square(0.5rem);
		border: 2px solid #212121;
		border-top: none;
		border-left: none;
	}

	&__table > .ComparePlans__section > .ComparePlans__view > .ComparePlans__table-arrow {
		transform: rotate(45deg);
	}

	&__table > .ComparePlans__section > .ComparePlans__view.ComparePlans__open > .ComparePlans__table-arrow {
		transform: rotate(225deg);
		margin: 2px 0 0;
	}

	&__table-cross {
		position: relative;
		width: 10px;
		height: 20px;
		transform: rotate(90deg);
	}

	&__table-cross::before {

		@include posZero;
		content: "";
		position: absolute;
		margin: auto;
		width: 2px;
		background-color: #c4c4c4;
	}

	&__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 20px 0;

		&__header {
			font-family: $font-secondary;
			font-size: 36px;
			line-height: 48px;
			margin: 0 0 10px;
			text-align: center;
			font-weight: 700;
		}

		&__second-header {
			margin: 0 0 10px;
			font-size: $font-size-default;
			line-height: 1.63;
			color: #666;
			max-width: 610px;
			text-align: center;
		}
	}

	&__differences {

		&--hide {
			display: none !important;
		}

		&--show {
			display: flex !important;
		}
	}

	@media (min-width: $breakpoint-desktop) {

		&__table-row:not(&__table-row--head):hover {
			background-color: $tag;
		}

		&__table-head-content {
			max-width: 1286px;
		}
	}

	@media (max-width: 991px) {

		&__table-head.ComparePlans__fixed {
			z-index: 11;
		}

		&__table-title {
			text-align: center;
		}

		&__table-head.ComparePlans__fixed &__table-head-content {
			padding: 0 2rem;
		}

		&__table-head-content {
			max-width: 992px;
		}

		&__table-row--head &__table-col--title {
			display: none;
		}
	}

	@media (max-width: $breakpoint-tablet-landscape - 1px) {

		&__table {
			margin: 0 2rem;
		}

		&__table-row {

			@include color(background-color, main-background, !important);
			display: flex;
			flex-wrap: wrap;
		}

		&__table-col--title {
			flex: 0 0 100% !important;
			max-width: 100% !important;
			line-height: 1.5;
			margin: 1rem 0 0;
			padding: 10px 15px;
			background-color: #f0f0f0;
			border-bottom: 1px dashed $light-gray;

			&-bold {

				&:not(:first-child) {
					display: none;
				}
			}
		}

		&__mobile {
			display: none;
		}

		&__table-head-content {
			margin-right: unset !important;
		}

		&__fixed {

			&--mobile {
				padding: 0 3rem;
			}
		}

		&__table-col {
			flex: 0 0 33.33%;
			max-width: 33.33%;
			border-right: none;
			padding: 9px 1rem;
			font-size: 13px;

			&:last-of-type {
				margin-left: 0;
				border-left: 0;
			}
		}

		&__table-col-none {
			display: none;
		}

		&__table-head-wrap {

			&--mobile {
				display: block;

				&.fixed {
					position: fixed;
					top: 90px;
					z-index: 10;
					padding-right: 2rem;
					width: 100%;

					&::after {
						position: absolute;
						content: "";
						width: 100vw;
						left: -1rem;
						top: 0;
						right: -1rem;
						height: 100%;
						background-color: #fff;
						box-shadow: $light-gray 0 3px 4px;
						z-index: -1;
					}
				}
			}

			&--desktop {
				display: none;
			}
		}

		&__table-check {
			margin: 4px 0;
		}
	}

	@media (max-width: $breakpoint-mobile) {

		&__table {
			margin: 0 1rem;
			overflow-x: hidden;
		}

		&__table-col {
			font-size: 12px;
			line-height: 1.5;
			padding: 9px 15px;

			&--title {
				font-size: 14px;
			}
		}

		&__table-text {
			font-size: 12px;
		}

		&__table-check {
			margin: 4px 0;
		}

		&__fixed {

			&--mobile {
				padding: 0 1rem;
			}
		}
	}
}
