/* stylelint-disable selector-class-pattern, no-descending-specificity */

.Footer {
	margin-bottom: 2.5em;

	&__top,
	&__bottom {
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		@media (max-width: $breakpoint-desktop) {
			justify-content: space-around;
		}
	}
}

/* ------------------------------- FOOTER TOP ------------------------------- */
.Footer__top {

	align-items: flex-start;
	padding-bottom: 0;
	padding-top: 5em;

	&__column {
		padding: 15px 0;
		font-size: 0.9rem;

		&__title {
			font-size: 1.125em;

			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
			}

			&--image {
				font-size: 0;
			}
		}

		a {

			@include color(color, font-color-normal);

			&:active,
			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}

		ul {
			font-size: 0.875em;
			line-height: 1.71;
			margin-bottom: 0;
		}
	}

	@media (min-width: $breakpoint-tablet) {
		font-size: 1rem;
		// padding-top: 8em;
	}

	@media (max-width: $breakpoint-desktop) {
		padding: 0;
		padding-top: 3em;

		&__column {
			display: flex;
			flex-flow: wrap column;
			align-items: center;
			text-align: center;
			width: 33.33%;
			padding: 30px 0;
			margin-right: 0 !important;
			border-right: 0 !important;

			&__title {
				justify-content: center;
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {

		&__column {
			width: 50%;
			padding: 1.5em 0;
		}
	}

	@media (max-width: $breakpoint-mobile) {

		&__column {
			width: 100%;
		}
	}
}

/* ------------------------------ FOOTER BOTTOM ----------------------------- */
.Footer__bottom {

	@include color(color, font-color-medium);
	font-size: $font-size-small;
	line-height: $line-height-smaller;
	padding-top: 5em;

	ul {
		display: flex;
		flex-flow: wrap row;
	}

	p {
		font-size: $font-size-small;
		line-height: $line-height-smaller;
		margin-bottom: 0;
	}

	a {

		@include color(color, font-color-medium);

		&:active,
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}


	&__social {
		font-size: 1.25rem;
		margin-bottom: 0;

		li {

			svg path {

				@include color(fill, font-color-medium);
				transition: fill 0.5s;
			}

			a:hover {

				@include color(color, primary-color);

				svg path {

					@include color(fill, primary-color);
				}
			}

			+ li {
				margin-left: 0.75em;
			}
		}
	}

	&__navigation {

		ul {
			font-size: $font-size-small;
			line-height: $line-height-smaller;
			margin-bottom: 0;
		}

		li + li {
			margin-left: 30px;
		}
	}

	.copyright {

		@include color(color, font-color-medium);
		margin-left: 2rem;
	}

	&__right {
		display: flex;
		flex-flow: wrap row;
		justify-content: center;
		align-items: center;
	}

	@media (max-width: $breakpoint-desktop) {
		padding: 15px 0;

		&__right {
			width: 100%;
		}

		&__social,
		&__navigation {
			margin: 5px 0;
			text-align: center;
		}
	}

	@media (max-width: $breakpoint-tablet) {

		&__navigation {

			ul {
				display: flex;
				flex-flow: wrap row;
				justify-content: center;
			}

			li {
				margin: 0 15px !important;
			}
		}
	}
}
