/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "sass:math";
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../components/Portals" as *;
@use "../components/Newsletter" as *;

.Footer {

	@include color(background-color, newsletter-background);
	margin-top: $block-space;

	p {
		margin: 0;
	}

	ul {
		display: flex;
		flex-flow: wrap row;
		margin: 0;

		a {
			display: block;
		}

		&.menu {
			flex-flow: wrap column;
			margin-top: 1.5em !important;

			li {

				&:not(:last-child) {
					margin-bottom: 0.8em;
				}
			}

			a {

				@include color(color, font-color-dark);
				font-size: $font-size-smaller;
				transition: color 0.5s;

				@include hover() {

					@include color(color, primary-color);
				}
			}
		}

		&.nav {
			margin: -0.25em -0.75em;

			li {
				padding: 0.25em 0.75em;
			}

			a {

				@include color(color, font-color-medium);
				font-size: $font-size-small;
				transition: color 0.5s;

				@include hover() {

					@include color(color, primary-color);
				}
			}
		}
	}

	.wrapper {

		@include color(background-color, newsletter-background);
		padding-top: 3em;
		padding-bottom: 3em;
		align-items: initial;
	}

	&__left {
		$size: 12.6em;
		position: relative;
		width: 28%;

		&-inner {
			position: relative;
			max-width: $size;

			> * {
				position: relative;
				z-index: 5;
			}

			&::before {
				$bg-size: ($size * 2);

				@include square($bg-size);
				position: absolute;
				top: 47%;
				left: 50%;
				z-index: 1;
				content: "";
				display: block;
				border-radius: math.div($bg-size, 2) math.div($bg-size, 10) math.div($bg-size, 2) math.div($bg-size, 2);
				box-shadow: 0.25em 0.25em 3.125em rgba($black, 0.08);
				background-color: $white;
				transform: translate3d(-50%, -50%, 0);
			}
		}
	}

	&__right {
		width: 66%;
	}

	&__row {
		position: relative;
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		margin: -1.5em -0.75em;

		&:not(:last-child) {
			padding-bottom: 3.75em;
		}

		&:nth-child(3) {

			@include color(color, font-color-medium);
			font-size: $font-size-small;
		}
	}

	&__column {
		position: relative;
		padding: 1.5em 0.75em;
	}

	&__title {
		margin: 0;
		font-size: $font-size-default;
		font-weight: $font-weight-bold;
		line-height: normal;
	}

	&__contacts {

		&:not(:last-child) {
			margin-bottom: 1.25em;
		}

		&-logo {
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 1.25em;
			}
		}

		&-title {
			font-size: $font-size-smaller;
			font-weight: $font-weight-semi;
			line-height: normal;

			&:not(:last-child) {
				margin-bottom: 0.2em;
			}
		}

		&-cta {

			&:not(:last-child) {
				margin-bottom: 1.25em;
			}

			.Button {
				width: 100%;
				margin: 0;

				&:not(:last-child) {
					margin-bottom: 0.625em;
				}
			}
		}

		li {

			&:not(:last-child) {
				margin-bottom: 0.2em;
			}

			a {

				@include color(color, font-color-dark);
				display: flex;
				font-size: $font-size-smaller;
				align-items: center;
				transition: color 0.5s;

				svg {

					@include square(1.2em);
					@include color(color, primary-color);
					margin-right: 0.35em;
				}

				&:active,
				&:focus,
				&:hover {

					@include color(color, primary-color);
					text-decoration: none;
				}
			}
		}
	}

	&__newsletter {
		margin-top: 0.5em !important;
	}

	&__social {
		margin-top: 0.6em !important;
		font-size: 1.25rem;

		li {

			a {

				@include color(color, font-color-medium);
				transition: color 0.5s;

				svg {

					@include square(1.2em);
				}

				&:active,
				&:focus,
				&:hover {

					@include color(color, primary-color);
					text-decoration: none;
				}
			}

			+ li {
				margin-left: 0.75em;
			}
		}
	}

	&__copyright {

		@include color(color, font-color-medium);
		font-size: $font-size-small;
	}

	@media (max-width: $breakpoint-desktop-big) {

		&__left {
			width: 40%;
		}

		&__right {
			width: 60%;
		}

		&__column--menu {
			width: 100%;
			max-width: 50%;
		}
	}

	@media (max-width: $breakpoint-tablet-landscape) {

		&__left,
		&__right {
			width: 100%;
		}

		&__left {
			margin-bottom: 6em;

			&-inner {
				margin: 0 auto;
			}
		}

		&__column--menu {
			width: initial;
			max-width: initial;
		}
	}

	@media (max-width: $breakpoint-tablet) {
		margin-top: $block-space-sm;

		&__row:nth-child(2) &__column {
			width: 100%;
		}

		&__column--menu {
			width: 100%;
			max-width: 50%;
		}
	}

	@media (max-width: $breakpoint-mobile) {

		&__column--menu {
			max-width: 100%;
		}
	}

}
