/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;
@use "../common/mixins" as *;

%checklist {
	list-style: none;
	padding-left: 0.5em;
	text-align: left;

	li {

		@include color(color, font-color-dark, !important);
		position: relative;
		font-size: 1rem;
		padding-left: 1.5em;
		margin-bottom: 0.35em;

		&::before {

			@include circle(1em);
			display: inline-block;
			content: "";
			position: absolute;
			top: 2px;
			left: -0.5em;
			background: $primary-checklist url(../images/icon-post-check.svg) center center no-repeat;
			background-size: 50%;
			padding: 0.25em;
			font-size: 1.25em;
			margin: 0;

			.single &,
			.archive & {
				background: $primary-checklist url(../../images/icon-post-check.svg) center center no-repeat;
				background-size: 50%;
			}
		}
	}

	ul {
		list-style: none;
		margin-top: 1em;

		li {
			padding-left: 0.5em;

			&::before {

				@include color(color, primary-color);
				@include square(auto);
				content: "\2022";
				background: none;
				padding: 0;
				top: 0;
			}
		}
	}
}

.checklist {

	.elementor-text-editor.elementor-text-editor {
		width: auto;

		ul:not([class]) {

			@extend %checklist;
		}
	}

	&-slim {

		.elementor-text-editor.elementor-text-editor {

			ul {

				font-weight: 400 !important;
			}
		}
	}
}

.elementor-text-editor.elementor-text-editor ul,
ul.checklist[class] {

	@include color(color, font-color-normal);

	li[class] {
		position: relative;

		&::before {

			@include circle(1em);
			display: inline-block;
			content: "";
			position: absolute;
			top: 4px;
			left: 0;
			background: $primary-checklist url(../images/icon-post-check.svg) center center no-repeat !important;
			background-size: 50%;
			padding: 0.25em;
			font-size: 1.25em;
			margin: 0;
		}
	}
}

.elementor-text-editor.elementor-text-editor ul li {
	padding-left: 2em;
}

.checklist,
.wp-block-columns {

	ul:not([class]) {

		@extend %checklist;
		@include color(color, font-color-normal);
	}

	li {
		font-size: 1rem;

		*:not(.Tooltip) {
			all: unset;
			font-size: inherit;
		}
	}

	&--pros,
	.wp-block-column:first-of-type .wp-block-group:not(.bullet-list__first) {

		h4 {

			color: $saturated-green;
		}

		ul:not([class]) li::before {
			background-color: $desaturated-green !important;
			background-image: url(../images/icon-post-pros.svg) !important;
		}
	}

	&--cons,
	.wp-block-column:nth-of-type(2):last-of-type .wp-block-group:not(.bullet-list__first) {

		h4 {

			color: $saturated-red;
		}

		ul:not([class]) li::before {
			background-color: $desaturated-red !important;
			background-image: url(../images/icon-post-cons.svg) !important;
		}
	}
}
