/* stylelint-disable selector-class-pattern, no-descending-specificity */
/* stylelint-disable value-keyword-case */
@use "sass:math";
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "./menuArrow" as *;

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
.Input {

	@include color(color, font-color-level3);
	@include color(border-color, font-color-inputs);
	@include color(background-color, main-background);
	width: auto;
	height: 3rem;
	padding: 0 $input-padding-normal;
	border-width: $input-border-width-normal;
	border-style: solid;
	border-radius: $border-radius-6;
	font-size: $input-font-size-normal;
	font-weight: $font-weight-normal;
	outline: none;

	&.error {

		@include color(color, error-color);
	}

	&:-ms-input-placeholder,
	&::-ms-input-placeholder {

		color: currentColor;
		opacity: 1;
	}

	&::placeholder {

		color: currentColor;
		opacity: 1;
	}

	@media (min-width: $breakpoint-tablet) {
		height: $input-height-normal;
	}
}

input[type="checkbox"] {
	display: none;

	+ label {
		display: block;

		p {
			margin-bottom: 0;
		}

		&::before {

			@include square(1.4em);
			position: relative;
			display: inline-block;
			content: "";
			top: 0.35em;
			background: url(../images/checkbox-inactive.svg) center center no-repeat;
			background-size: contain;
			margin-right: 0.5em;
		}
	}

	&:checked,
	&.checked {

		+ label::before {
			background-image: url(../images/checkbox-active.svg);
		}
	}
}

label {
	cursor: pointer;
}

label.Input {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	z-index: 2;

	.active & {
		box-shadow: 0 0.25em 0.5em 0 rgba($white, 0.6);
	}

	&[data-select] {

		&::before {
			position: absolute;
			right: 2em;
			top: 50%;
			transform: translateY(-50%) rotate(90deg);
			content: url(../images/icon-arrow.svg);
			opacity: 0.4;
			// background: url(../images/icon-arrow.svg);
		}
	}
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;

	@media (min-width: $breakpoint-tablet-landscape) {
		display: flex;
		justify-content: space-between;

		.Signup__form__item {
			width: 48%;
		}
	}
}

textarea {

	@include color(color, font-color-level3);
	@include color(border-color, font-color-inputs);
	width: 100%;
	min-height: $input-height-normal;
	padding: $input-padding-normal;
	border-width: $input-border-width-normal;
	border-style: solid;
	border-radius: math.div($border-radius, 2);
	background-color: transparent;
	font-size: $input-font-size-normal;
	font-weight: $font-weight-normal;
}

.pseudoSelect {

	@include color(background-color, main-background);
	@include color(border-color, font-color-inputs, !important);
	display: none;
	position: absolute;
	top: calc(100% - 6px);
	width: 100%;
	max-height: 21.5em;
	overflow-y: scroll;
	font-size: $font-size-smaller;
	border: 1px solid;
	border-radius: $border-radius-6;

	&.active {
		display: block;
		z-index: 1;
		box-shadow: 0 4px 64px 0 rgba(0, 0, 0, 0.08);
	}

	&__option {
		cursor: pointer;
		padding: 0.75em 0 0.75em 4.28em;

		&:hover {

			@include color(background-color, primary-color);
			@include color(color, font-color-light);
		}
	}
}

.checkbox {
	color: $dark-gray;
	font-size: 0.875rem;
	margin-bottom: 0.75em;

	input {
		display: none;
	}

	label {
		display: flex;
		align-content: center;
		width: 100%;
		cursor: pointer;

		&::before {
			content: "";

			@include square(1.429em);
			flex: 0 0 auto;
			background: url(../images/checkbox-inactive.svg) center center no-repeat;
			background-size: contain;
			margin-right: 0.75em;
		}

		@media (hover: hover) {

			&:hover {

				&::before {
					background-image: url(../images/checkbox-hover.svg);
				}
			}
		}
	}

	[type="checkbox"],
	[type="radio"] {

		&:checked,
		&.checked {

			+ label {

				&::before {
					background-image: url(../images/checkbox-active.svg);
				}
			}
		}
	}
}

.sorting {
	color: $dark-gray;
	font-size: 0.875rem;
	margin-bottom: 0.75em;

	input {
		display: none;
	}

	label {
		display: flex;
		align-items: center;
		align-content: center;
		width: 100%;
		cursor: pointer;

		&::before {
			content: "";

			@include square(0.85em);
			background: url(../images/icon-sorting-check.svg) center center no-repeat;
			background-size: contain;
			margin-right: 0.75em;
			opacity: 0;
		}
	}

	[type="radio"]:checked {

		+ label {

			&::before {
				opacity: 1;
			}
		}
	}
}

.select {

	@extend %menuArrow;
	cursor: pointer;

	span {
		cursor: pointer;
		pointer-events: none;
	}

	select {
		cursor: pointer;
		position: absolute;
		left: 0;
		top: 0;
		height: $input-height-normal;
		width: 100%;
		opacity: 0;
	}
}
