/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "Typography" as *;

%resources {

	@include color(border-top-color, secondary-background);
	border-top-style: solid;
	margin-top: 25px;
}

/* stylelint-disable-next-line no-duplicate-selectors */
%resources__text {

	p {
		font-size: $font-size-smaller;
		line-height: $line-height-smaller;
		margin-bottom: 0;
	}
}

.Post {

	&__header {

		&--title {
			font-size: 2rem;
		}
	}

	&__sidebar {

		&__categories,
		&__available,
		&__related,
		&__resources,
		&__partner {

			@extend %resources;
			border: none;
			margin-top: 0;

			ul {
				font-size: $font-size-smaller;
				line-height: $line-height-smaller;
			}

			a {

				@include color(color, primary-color);

				&:active,
				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__related,
		&__resources {

			@extend %resources__text;
		}
	}

	&__content {

		&__title {
			font-size: 2rem;
			line-height: 1.26;
		}

		h1 {
			font-size: 3rem;
			line-height: 1.26;

			@media (max-width: $breakpoint-mobile) {
				font-size: 2.5rem;
			}
		}

		table {

			@include color(color, font-color-dark);
			margin-bottom: 2em;
		}

		&__breadcrumbs {

			ul {

				@include color(color, font-color-normal);
				display: flex;
				flex-flow: wrap row;
				font-size: 0.75rem;
				line-height: 1.26;

				span {
					font-weight: $font-weight-bold;

					&::before {
						content: ">";
						margin-right: 1em;
					}

					&::after {
						content: ">";
						margin: 0 1em;
					}
				}

				li {
					display: inline-block;
					margin-right: 1em;

					&:last-of-type {

						@include color(color, font-color-dark);
					}

					+ li {
						margin-left: 1em;

						&::before {
							content: ">";
							margin-left: -8px;
							margin-right: 1em;
							font-weight: $font-weight-bold;
						}
					}
				}
			}

			a {

				@include color(color, font-color-normal);
				text-decoration: none;

				&:active,
				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.wp-block-columns {

			.wp-block-column:first-of-type {

				ul:not([class]) li::before {
					background-color: $desaturated-green;
					background-image: url(../../images/icon-post-pros.svg);
				}

				.wp-block-group:not(.bullet-list__first) {

					ul:not([class]) li::before {
						background-color: $desaturated-green;
						background-image: url(../../images/icon-post-pros.svg);
					}
				}
			}

			.wp-block-column:nth-of-type(2):last-of-type {

				ul:not([class]) li::before {
					background-image: url(../../images/icon-post-cons.svg);
				}

				.wp-block-group:not(.bullet-list__first) {

					ul:not([class]) li::before {
						background-image: url(../../images/icon-post-cons.svg);
					}
				}
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			h1 {
				margin-bottom: 1.5rem;
			}

			h1 + h2 {
				font-size: 1.5rem;
				line-height: 1.166;
				margin-bottom: 1.66em;
			}
		}

		.Content > {

			p:empty {
				display: none;
			}

			ul:not([class]),
			ul.wp-block-list {

				@extend %checklist;

				li::before {
					background-image: url(../../images/icon-post-check.svg);
				}
			}
		}

		&__resources {

			@extend %resources__text;

			a:not(.Button) {
				position: relative;

				&::before {
					text-decoration: none;
				}

				&:hover {
					text-decoration: none;
				}
			}

			&::before {

				@extend %resources;
				display: block;
				border-top-width: 2px;
				content: "";
				max-width: 5em;
			}
		}
	}
}
